.contenedorPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    background-color: black;
    height: 100%;
    justify-content: center;
}

.tabla > div{
    border-bottom: solid 2px white;
    height: 30px;
    display: flex;
    place-content: center space-between;
}

.contenedorPrincipal > div{
    padding: 10%;
}

@media only screen and (max-width: 900px){
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
    }
    .contenedorPrincipal > div{
        padding: 5% 20%;
    }
}

@media only screen and (max-width: 600px){
    .contenedorPrincipal > div{
        padding: 5% 10%;
    }
}
